*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* transition: all 0.8s ease-in-out; */
}
.main{
    perspective: inherit;
    margin: 0 auto;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    background: url("https://png.pngtree.com/background/20230616/original/pngtree-mobile-website-design-in-3d-rendering-picture-image_3652501.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* backface-visibility: visible; */
    background-attachment: fixed;
}
.product-card{
    transition: transform 0.6s ease-out;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgba(245, 245, 245, 0.79);
    width: 40vw;
    height: 55vh;
    max-height: 410px;
    max-width: 350px;
    font-size: 20px;
    padding: 28px;
    margin: 20px auto;
    border-radius: 50px;
    background-color: rgb(52, 52, 52);
    cursor: pointer;
}
.product-card:hover{
    color : rgba(245, 245, 245, 0.902);
    background-color: rgb(64,64,64);
    max-width: 355px;
    max-height: 413px;
    padding: 30px;
}
.product-card.rotate{
    transform: rotateY(180deg);
}

.rotate h4,img,a{
    backface-visibility: hidden;
}

.product-card {
    p{
        display: none;
    }
    img,a{
        overflow: hidden;
    }
}
.rotate {
    h4{
        transform: rotateY(180deg);
        font-size: 24px;
        margin-bottom: 65px;
        align-self: center;
    }
    
    p{
        transform: rotateY(180deg);
        backface-visibility: hidden;
        font-size: 26px;
        display: unset;
    }
    :active{
        img,a{
            display: none;
        }
    }
}

img{
    margin: 0 auto;
    /* width: 40vw; */
    max-width: 250px;
    max-height: 29vh;
}
a{
    color: rgb(255, 53, 53);
    text-decoration: none;
    transition: color 0.3s;
}
a:hover{
    color: white;
}

nav{
    background-color: rgb(79, 79, 79);
    height: 7vh;
    padding: 12px 50px;
    
    a{
        margin: 0px 30px;
        font-size: 22px;
    }
    button{
        transition: color 0.3s;
        background-color: transparent;
        font-size: 20px;
        color: white;
        border: none;
        cursor: pointer;
    }
    button:hover{
        color: rgb(224, 82, 82);
    }
}

.dropdown{
    position: absolute;
    display: inline-block;
    background-size: contain;
    .link-hide{
        position: relative;
        font-size: 18px;
        font-weight: bold;
        display: inline-block;
        padding: 12px 16px;
    }
    .link-hide:hover{
        background-color: aliceblue;
        color: black;
    }
}


.menucontent{
    display: none;
    background-color: black;
    max-width: 330px;
    max-height: 230px;
    z-index: 1;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.dropdown:hover .menucontent{
    display: block;
    position: sticky;
}

@media( 700px <= width <= 1200px){
    .main{
        grid-template-columns: 1fr 1fr;
    }
    .product-card{
        height: 45vh;
        width: 40vw;
        justify-content: space-around;
    }
    .product-card.rotate{
        h4,p{
            margin-bottom: 5px;
            font-size: 20px;
        }
    }
    img{
        max-width: 27vw;
        max-height: 20vh;
    }
    h4,p,a{
        margin-bottom: 20px;
        font-size: 20px;
    }
    
}

@media(400px <= width <= 700px){
    .main{
        grid-template-columns: 1fr;
    }
    .product-card{
        height: 33vh;
        width: 33vw;
        justify-content: space-around;
    }
    .product-card.rotate{
        h4,p{
            margin-bottom: 5px;
            font-size: 14px;
        }
    }
    img{
        max-width: 22vw;
        max-height: 15vh;
    }
    h4,p,a{
        margin-bottom: 5px;
        font-size: 14px;
    }
}
